<html>
<title>EventeX</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/default.css" type="text/css" />
<body>
<div id="center">
	<img src="{{ STATIC_URL }}img/logo.png">
	<hr>
	<h1>Bem-vindos ao EventeX!</h1>
</div>
	<p>O Eventos mais sensacional do ano depois do DEV in Rio!</p>
	<p>Você não pode perder esta oportunidade</p>
	<p><b>Abertura das inscrições em 18/03/2012</b></p>
	<p>Para dúvidas e mais informações entre em contato com eventex@eventex.com.br</p>
<hr>

<img src="{{ STATIC_URL }}img/by-nc-sa.png"> 2012, <a href="#">Eventex</a>, some rights reserved.<div id="django-img">	<img src="{{ STATIC_URL }}img/django-logo.png"> 

</div>

</html>
